# Виртуальное окружение
venv/
.venv/
virtualenv/

# Кэш Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Логи
*.log

# Docker
.env

# Другое
.DS_Store

# Markdown файлы (кроме README.md)
*.md
!README.md

