# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
.env
.venv/
env/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Test coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Project specific
DEVELOPMENT.md
project.md
exam.md

# Logs
*.log